.container {
    position: relative;
}
.center {
    position: absolute;
    top: 50%;
    width: 100%;
    align-content: center;
}
#logga{
    height: 10vw;
    width: 10vw;
}
#bb-banner{
    width: 100%;
    height: auto;
}