.container {
    position: relative;
}
.center {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
}
#logga{
    height: 10vw;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#bb-banner{
    width: 100%;
    height: auto;
}
ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li.navbar{
    float: left;
}
li.navbar a {
    display: block;
    color: gray;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}
li.navbar a:hover {
    background-color: white;
    color: black;
}